<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top scrolling-navbar">
  <a routerLink="home" class="navbar-brand js-scroll-trigger ">
      <img src="../assets/img/logo.png" height="38" alt="logo"><strong> Sadaqah </strong>
  </a>
  <button type="button" class="navbar-toggler js-scroll-trigger " data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
     
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">



        <a routerLink="appeals" class="nav-item nav-link js-scroll-trigger ">Appeals</a> 
        <a routerLink="about" class="nav-item nav-link  js-scroll-trigger">About</a> 
        <a routerLink="donations" class="nav-item nav-link js-scroll-trigger">Donations</a> 
        <a routerLink="add" class="nav-item nav-link js-scroll-trigger">Add Appeal</a> 
        <a routerLink="faq" class="nav-item nav-link js-scroll-trigger">F.A.Q</a> 
        <!-- <a routerLink="client" class="nav-item nav-link js-scroll-trigger" >Client Portal</a>  -->
        <!-- <a routerLink="contact" class="nav-item nav-link js-scroll-trigger" >Contact</a>  -->


        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="appeals"> Appeals <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="donations">Donations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0"> -->
      
        <button class="form-inline  btn btn-warning my-2 my-sm-0" type="submit">Donate</button>
      <!-- </form> -->
    </div>
  </nav>

  <div class="spacer"></div>